window {
  margin: 0px;
  border: 3px solid #88c0d0;
  border-radius: 16px;
  background-color: #2e3440;
}

#input {
  margin: 5px;
  border: none;
  color: #d8dee9;
  background-color: #3b4252;
}

#inner-box {
  margin: 16px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  border-radius: 16px;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 15px;
  border: none;
  color: #d8dee9;
}

#entry:selected {
  background-color: #3b4252;
}
